h1{
			text-align:center;
			font-size: 175%
		}
		.s1,.s2,.s3{
			background-color: gray;
			box-sizing: border-box;
			padding: 10px;
			border: 1px solid black;
			font-size: 125%;
			margin: 10px 5px 10px 5px;
			background-position: top right;
			float:left;
			clear: right;
		}
		.s1 > div , .s2 > div ,.s3 > div{
			position:relative;
			top:-10px;
			right:-10px;
			width:25%;
			text-align: center;
			font-size:125%;
			background-color: pink;
			border:1px solid black;
			position: top-right;
			float:right;
		}
		.s1 > div{
			background-color: #b96077;
		}
		.s2 > div{
			background-color: #800000;
		}
		.s3 > div
		{
			background-color: #e1ad01;
		}
		@media (min-width:  992px)
		{
			.s1,.s2,.s3{
				width:32%;
			}
		}
		@media (min-width: 768px) and (max-width: 991px){
			.s1,.s2{
				width: 48.5%;
			}
			.s3{
				width:98%;
			}
		}
		@media (max-width: 767px)
		{
			.s1,.s2,.s3{
				width: 98%;
			}
		}
